node_modules

/client/build
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*

iTAw1W5orjFaSCz7

{
	"name": "James Seagram",
	"email": "asdfas@gmail.com",
	"password": "asdflas"
}

"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNWZkM2ViNzJkYWY0OTMxOTRhYzZkZTBhIn0sImlhdCI6MTYwNzk3MDg5NywiZXhwIjoxNjA4MDA2ODk3fQ.CPjFIgpHdj6yYp1iv_Uvze00PT7Zhw5DRX-a1Qpa6G4"
